<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>A03 Contact</title>

        <!-- Bootstrap -->
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="mystyle.css" rel="stylesheet" type="text/css"/>
        <link href="fontawesome-free-5.0.6/web-fonts-with-css/css/fontawesome-all.min.css" rel="stylesheet" type="text/css"/>

    </head>
    <body class="cont">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Naveen's catalouge</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li ><a href="Yourself">Yourself</a></li>
                        <li class="active"><a href="contact">Contact</a></li>
                        <li><a href="Guestbook">Guestbook</a></li>

                    </ul>
                </div>
            </div>
        </nav>
        <div id="conthead" class="col-md-12">
            <h1><span style="color: white">GET</span> <span style="color: #FFCA33">IN Touch</span></h1>
        </div>
        <!-- <hr style="width: 50em;"> -->
        <div class="col-sm-4 col-md-4 col-xs-4 conleft">
            <div>
                <p class="alp">PHONE</p>
                <span class="phone"><i class="fa fa-phone-square fa-rotate-90 fa-2x" aria-hidden="true"></i></span> 
                <p class="phone num use">+1(660)5280-847</p>
                <p class="alp">EMAIL</p>
                <span class="phone"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></span> 
                <p class="phone num use">S531373@nwmissouri.edu</p>
                <p class="alp">ADDRESS</p>
                <span class="phone"><i class="fa fa-home fa-2x" aria-hidden="true"></i></span> 
                <p class="phone num use">1115 NCollegeDr,</p>
                <p class="use"> Horizon west Apartment, #102</p>
                <p class="alp">CODE REPOSITORIES</p>
                <a href="https://github.com/"><span ><i class="fab fa-github-square fa-2x" aria-hidden="true" ></i></span></a>
                <a href="https://bitbucket.org/Naveenkumar_Nuggu/"><span style="color: #1f70f2"><i class="fab fa-bitbucket fa-2x" aria-hidden="true"></i></span></a>
                <p  class="alp">SOCIAL PROFILES</p>
                <a href="https://linkedin.com/in/naveennuggu">  <span style="color: #154ea8"><i class="fab fa-linkedin fa-2x" aria-hidden="true" ></i></span></a>
                <a href="https://www.facebook.com/nuggunaveen"><span style="color: #154ea8"><i class="fab fa-facebook-square fa-2x" aria-hidden="true"></i></span></a>
            </div>

        </div>
        <div class="col-sm-8 col-md-8 col-xs-8">
            <P class="msg"> FEEL FREE TO DROP ME A  LINE</p>
            <P class="msg"> If you have any suggestions,projects or even you want to say Hello. </p>
            <p class="msg"> Please fill out the form below and  i will reply you shortly</p>
            <span class="phone use" ><i class="fa fa-user fa-2x" aria-hidden="true"></i></span> 
            <input type="text" class="form-control" placeholder="Your Name"> <br>
            
            <span class="phone use" ><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></span>
            <input type="text" class="form-control" placeholder="Your Email"> <br>
            
            <span class="phone use" ><i class="fa fa-comments fa-2x" aria-hidden="true"></i></span>
            <textarea class="form-control" rows="2" placeholder="Your Message"></textarea><br>
            
            <button type="button" class="btn btn-primary">Send Message</button>
        </div>



        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>