body{
 background-color: aqua;
 font-family: Arial;

}
.abc{
color: darkorange;

}

.xyz{
    color:whitesmoke;
    background-color:coral;
    border-color: #ddd;
        padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
